:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  color: rgb(134, 31, 31);
}
ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-left: 0;
}
li {
  margin-left: 0;
}
